<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="CapEx" connectionString="MultipleActiveResultSets=True;Data Source=CORALEPAL\SQL2008R2;Initial Catalog=CapEx;Connect Timeout=300;User Id=capexuser;Password=capexpwd;Application Name=CapEx;" />-->
    <add name="DB" connectionString="MultipleActiveResultSets=True;Data Source=CORALEPAL1\SQL2014; Initial Catalog=Training;Connect Timeout=300;User Id=traininguser;Password=trainingpwd;Application Name=Training;"/>
  </connectionStrings>
</configuration>