<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB" providerName="System.Data.SqlClient" connectionString="MultipleActiveResultSets=True;Data Source=CORALEPAL1\SQL2014; Initial Catalog=Training;Connect Timeout=300;User Id=traininguser;Password=trainingpwd;Application Name=Training;"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>